body {
    font-family: 'Passion One', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}










.wrapper {
    height: 100vh;
    background: url("../images/Rectangle 1.png") no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}















.container {
    background: rgba(255, 255, 255, 0.29);
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 650px;
    width: 100%;
    text-align: center;
}

#form-container h2 {
    font-size: 48px;
    font-weight: bold;
    color: rgba(84, 1, 1, 1);
    margin-bottom: 85px;
}

input, button {
    display: block;
    width: calc(100% - 20px);
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-family: 'Passion One', sans-serif;
    font-weight: 400;
}
input {
    border: 1px solid #ddd;
    height: 80px;
    border-radius: 20px;
    font-size: 32px;
}
button {
    background:rgba(227, 45, 106, 1);
    border-radius: 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    height: 90px;
    font-size: 32px;
    margin-top: 110px;
    margin-bottom: 105px;
}

#result-container {
    font-size: 24px;
    font-weight: bold;
    color: rgba(227, 45, 106, 1);
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.circle {
    width: 531px;
    height: 531px;
    border: 30px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 65px auto;
}

#percentage {
    color: white;
    font-size: 128px;
}

@media (max-width: 720px) {
    .container {
      max-width: 390px;
    }
    input {
        height: 50px;
        font-size: 26px;
    }
    
    .circle {
        width: 360px;
        height: 360px;
        border: 20px solid white;
    }

    #percentage {
        font-size: 80px;
    }

    button {
        font-size: 26px;
        text-wrap: nowrap;
        height: 80px;
        margin-bottom: 50px;
        margin-top: 50px;
    }
}